button {
  border: 0;
  background-color: var(--color-one);
  color: var(--color-background);
  padding: 6px 32px;
  border-radius: 8px;
  font-weight: var(--font-weight-two);
  font-family: var(--font-two);
}